<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:framework:ObjectManager/etc/config.xsd'
>
<!-- 2019-10-14
1) «File "/chroot/home/a0ea0e45/kingpalm.com/admin/order_export_120190508091706.csv" cannot be opened»:
https://github.com/kingpalm-com/core/issues/37
2) «Cron Job export_stack has an error:
Warning: array_key_exists() expects parameter 2 to be array, null given
https://github.com/kingpalm-com/core/issues/33 -->
	<type name='Aitoc\OrdersExportImport\Model\Processor\Config\ExportConfigMapper'>
		<plugin
			name='KingPalm\Core\Plugin\Aitoc\OrdersExportImport\Model\Processor\Config\ExportConfigMapper'
			type='KingPalm\Core\Plugin\Aitoc\OrdersExportImport\Model\Processor\Config\ExportConfigMapper'
		/>
	</type>
<!-- 2019-10-14
«Call to a member function getResource() on array
at app/code/Aitoc/OrdersExportImport/Model/Processor/EntityType/AbstractEntity.php:179»:
https://github.com/kingpalm-com/core/issues/38 -->
	<type name='Aitoc\OrdersExportImport\Model\Processor\EntityType\AbstractEntity'>
		<plugin
			name='KingPalm\Core\Plugin\Aitoc\OrdersExportImport\Model\Processor\EntityType\AbstractEntity'
			type='KingPalm\Core\Plugin\Aitoc\OrdersExportImport\Model\Processor\EntityType\AbstractEntity'
		/>
	</type>
</config>