<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:framework:ObjectManager/etc/config.xsd'
>
<!-- 2019-10-14
«File "/chroot/home/a0ea0e45/kingpalm.com/admin/order_export_120190508091706.csv" cannot be opened»:
https://github.com/kingpalm-com/core/issues/37 -->
	<type name='Aitoc\OrdersExportImport\Model\Processor\Config\ExportConfigMapper'>
		<plugin
			name='KingPalm\Core\Plugin\Aitoc\OrdersExportImport\Model\Processor\Config\ExportConfigMapper'
			type='KingPalm\Core\Plugin\Aitoc\OrdersExportImport\Model\Processor\Config\ExportConfigMapper'
		/>
	</type>
</config>